build/
results/
*.o
*.a
*.so
*.dylib
.DS_Store
*.swp
*.swo
cmake-build-*/
.idea/
.vscode/
compile_commands.json
__pycache__/
.venv
cqsimcpp
!results/exp2a
!results/exp2b
cqsim-python/data/Debug/
cqsim-python/data/Results/
cqsim-python/data/Fmt