build/
*.o
*.a
*.so
*.dylib
.DS_Store
*.swp
*.swo
cmake-build-*/
.idea/
.vscode/
compile_commands.json
__pycache__/
.venv
cqsimcpp
cqsim-python/data/Debug/
cqsim-python/data/Results/
cqsim-python/data/Fmt


results/*
!results/exp1a/
!results/exp1b/
!results/exp2a/
!results/exp2b/

